<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if (typeof title !== "undefined") { %>
        <%= title %> 
      <% } else { %>
        Authentication System
      <% } %>
    </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
