<%- include("./partials/header", {title: "Login Page"}) %>
<%- include("./partials/navbar", {page: "login"}) %> 
<%- include("./partials/alert", {msg, err}) %>

<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username">

  <label for="password">Password:</label>
  <input type="password" name="password">

  <button type="submit">Login</button>
</form>