body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Navbar Styles */
ul{
  display: flex;
}
li{
  margin-inline-end: 2rem;
  list-style: none;
}
li a{
  color: slateblue
}